html {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 16px;
}
.hero-header{
    font-size: 3.125rem;
}
.hero-subheader{
    color:aquamarine;
}
