html {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size: 16px;
}
img{
    margin: 1rem 0 2rem 0; 
    max-width: 100%;
}
.hero-header{
    font-size: 3.125rem;
    font-weight: normal;
}
.subheader{
    color:aquamarine;
    text-decoration-line: underline;
}
.section-headers{
    font-weight: 300;
    font-size:2.625rem; 
}
.body-text{
    font-size: 1.3125rem;
    color:gray;
}
footer{
    text-align: right;
}
